.input-error {
	color: #F44336;
}

.first-container {
	margin-top: 32px;
}

.input-field {
	margin-bottom: 16px;
}

.successMessage {
	color: green;
	font-size: 1.3em;
}

.errorMessage {
	color: red;
	font-size: 1.3em;
}

.alertMessage {
	color: orange;
	font-size: 1.3em;
}

.modal-special {
	display: ;
    position: ;
    left: ;
    right: ;
    background-color: ;
    padding: ;
    max-height: ;
    width: ;
    margin: ;
    overflow-y: ;
    border-radius: ;
    will-change: ;
	
}

.errorMessage {
	
}

.link-btn {
	color: #039be5;
	background: transparent;
	border: none;
    outline: none;
}

.link-dropdown-btn {
	font-size: 16px;
    color: #26a69a;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
    transition: background-color .3s;
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

li.classic-bullet {
	list-style-type: disc!important;
	margin-left: 16px;
}

.exception-error-card {
    max-height: 100%;
    width: inherit;
    overflow: hidden;
    position: absolute;
    top: 50%;
    min-height: 100%;
    display: block;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★  ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top: 2px;
    left: 2px;
}

.rating > label:before {
	position: relative!important;
	border: none!important;
	border-radius: none!important;
}

.rating > label:after {
	position: relative!important;
	border: none!important;
}

.rating > [type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
	height: auto!important;
	margin: 0px;
}

.rating > [type="radio"]+label:before, [type="radio"]+label:after {
	margin: 0;
}